# Logs
logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
package-lock.json

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# macOS files
*.DS_Store
.DS_Store
DS_Store
**/.DS_Store
