# Logs
logs
*.log

# Dependency directories
api-config-service/node_modules/
api-config-service/coverage/
node_modules/
coverage/

# Optional npm cache directory
.npm
package-lock.json

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# macOS files
*.DS_Store
.DS_Store
DS_Store
**/.DS_Store
../.DS_Store
